# Quick Introduction to Julia

Expanding on parts of [Fast Track to Julia](https://juliadocs.github.io/Julia-Cheat-Sheet/)

## Basics

In [1]:
a = 2.5
5a

12.5

In [2]:
5*a

12.5

`ans` has the result from the last calculation:

In [3]:
ans

12.5

### Two types of comments 

#### Frist type:

In [4]:
# this is a one line comment
9a # comment can be at the end of a line too

22.5

#### Second type:

In [5]:
#= This is the first line of a comment block
9a # comment can be at the end of a line too
This is the last line of the block =#

### Julia allows simple way to swap values of variables

In [6]:
a,b = 1,2
[a,b]

2-element Array{Int64,1}:
 1
 2

In [7]:
# easy swapping of values
a,b = b,a
[a,b]

2-element Array{Int64,1}:
 2
 1

In [8]:
# in most languages you have to do
a = 1
b = 2
temp = a
a = b
b = temp
[a,b]

2-element Array{Int64,1}:
 2
 1

### Julia allows simple boolean expressions

In [9]:
# Example
1 < a < 3

true

In [10]:
# In many languages this has to be written as
1 < a && a < 3

true

### Ternary Operator

In [11]:
a = 1
b = 1
c = 2

res = a==b ? a : b

1

In [12]:
a==c ? a : c

2

In [13]:
a==c ? 1 : 10

10

In [14]:
a==c-b ? 1 : 10

1

### Remainder

In [15]:
99 % 10

9

In [16]:
100 % 10

0

In [17]:
90 % 10

0

## Arrays (Vectors and Matricies)

### Declaration and Initialization of arrays

In [18]:
# empty vector of double precision floats
v = Array{Float64,1}()

Float64[]

In [19]:
push!(v,2.0)
v

1-element Array{Float64,1}:
 2.0

In [20]:
# vector of size 5, double precision floats
u =  Array{Float64,1}(undef, 5)

5-element Array{Float64,1}:
 4.4e-323
 5.0e-324
 2.341927066e-314
 5.0e-323
 5.0e-324

In [21]:
# matrix of size 3x5, double precision floats
U =  Array{Float64,2}(undef, 3,5)

3×5 Array{Float64,2}:
 8.48798e-314  2.35612e-314  0.0  0.0  0.0
 7.4e-323      0.0           0.0  0.0  0.0
 2.5e-323      5.0e-324      0.0  0.0  0.0

In [22]:
# vector of size 5, of 2.2
u =  fill(2.2,5)

5-element Array{Float64,1}:
 2.2
 2.2
 2.2
 2.2
 2.2

In [23]:
zeros(5)

5-element Array{Float64,1}:
 0.0
 0.0
 0.0
 0.0
 0.0

In [24]:
zeros(3,5)

3×5 Array{Float64,2}:
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

In [25]:
zero(U)

3×5 Array{Float64,2}:
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

In [26]:
ones(3,5)

3×5 Array{Float64,2}:
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0
 1.0  1.0  1.0  1.0  1.0

In [27]:
using Random, Statistics

In [28]:
rand(3,5) # uniform(0,1)

3×5 Array{Float64,2}:
 0.520644  0.317146  0.929559  0.151924  0.302972
 0.542014  0.925928  0.840744  0.341872  0.64337
 0.285785  0.367276  0.228816  0.416597  0.725627

In [29]:
randn(3,5) # standard normal

3×5 Array{Float64,2}:
 -0.50009   -0.189503   0.998086  -0.942539  -2.88695
  0.137258  -0.96548   -1.41631   -0.284165   0.223993
 -0.317524   1.33572   -1.37344   -1.82464    1.50459

In [30]:
mean(randn(1_000_000))

-0.0005262624163750128

In [31]:
var(randn(1_000_000))

1.0016738780324588

In [32]:
using Distributions, LinearAlgebra

In [33]:
M = rand(Binomial(2,0.5),10,20)

10×20 Array{Int64,2}:
 1  0  1  1  1  0  0  1  1  1  1  1  1  0  0  0  2  1  1  1
 1  0  1  1  2  1  1  1  1  0  0  2  1  1  2  1  1  1  1  1
 0  1  1  1  2  2  2  1  1  0  1  2  1  0  1  1  1  0  2  1
 1  0  1  1  2  2  1  0  2  1  1  1  0  1  1  2  1  1  1  1
 2  1  1  2  1  0  1  2  1  1  1  1  2  0  0  1  2  1  1  1
 1  2  2  2  1  1  2  0  1  0  0  0  2  2  0  2  1  0  1  2
 2  2  0  0  0  0  1  0  1  1  0  1  0  1  2  0  1  1  1  1
 1  1  2  0  2  2  1  0  0  1  1  1  1  0  1  1  2  1  0  2
 2  0  1  0  2  1  0  2  1  1  1  0  2  0  0  2  0  0  1  2
 0  1  0  1  1  2  0  0  1  1  2  1  2  2  1  1  0  0  1  1

#### Get first column as one dimensionsal array

In [34]:
M[:,1]

10-element Array{Int64,1}:
 1
 1
 0
 1
 2
 1
 2
 1
 2
 0

#### Get first row as one dimensionsal array¶

In [35]:
M[1,:]

20-element Array{Int64,1}:
 1
 0
 1
 1
 1
 0
 0
 1
 1
 1
 1
 1
 1
 0
 0
 0
 2
 1
 1
 1

#### Transposing and array gives a row vector

In [36]:
M[1,:]'

1×20 Adjoint{Int64,Array{Int64,1}}:
 1  0  1  1  1  0  0  1  1  1  1  1  1  0  0  0  2  1  1  1

#### Sum of squares of elements in first row

In [37]:
M[1,:]'M[1,:]

17

In [38]:
M[1,:]'*M[1,:]

17

In [39]:
dot(M[1,:],M[1,:])

17

In [40]:
M[1,:].^2

20-element Array{Int64,1}:
 1
 0
 1
 1
 1
 0
 0
 1
 1
 1
 1
 1
 1
 0
 0
 0
 4
 1
 1
 1

In [41]:
sum(M[1,:].^2)

17

#### Matrix transpose and product

In [42]:
M'M == M'*M

true

### Identity Matrix

#### In general

In [43]:
Matrix{Float64}(I,3,3)

3×3 Array{Float64,2}:
 1.0  0.0  0.0
 0.0  1.0  0.0
 0.0  0.0  1.0

In [44]:
Matrix{Float64}(I,3,4)

3×4 Array{Float64,2}:
 1.0  0.0  0.0  0.0
 0.0  1.0  0.0  0.0
 0.0  0.0  1.0  0.0

In [45]:
Matrix{Float64}(I,4,3)

4×3 Array{Float64,2}:
 1.0  0.0  0.0
 0.0  1.0  0.0
 0.0  0.0  1.0
 0.0  0.0  0.0

#### When dimensions can be inferred

In [46]:
A = M'M + I

20×20 Array{Int64,2}:
 18   9  11   9  14   8   9  10  11  9   7   9  13   6   8  12  13  8  10  15
  9  13   8   8   8   8  10   3   7  5   5   7  10   8   7   8   9  4   8  11
 11   8  15  10  16  12  11   7   9  6   7   9  13   6   6  13  13  6   9  15
  9   8  10  14  12   9  10   7  10  5   7   9  13   8   5  11  11  5  10  11
 14   8  16  12  25  19  13  11  14  9  12  15  17   8  11  18  15  8  14  19
  8   8  12   9  19  20  11   5  11  7  11  12  13   9  10  15  10  5  11  15
  9  10  11  10  13  11  14   5   9  4   5  10  10   7   8  11  11  5  10  12
 10   3   7   7  11   5   5  12   7  5   6   7  11   1   3   8   8  4   8   9
 11   7   9  10  14  11   9   7  13  7   8  10  11   8   8  12  10  6  11  12
  9   5   6   5   9   7   4   5   7  8   7   6   8   4   5   7   8  5   6   9
  7   5   7   7  12  11   5   6   8  7  11   8  11   5   5   9   8  4   8  10
  9   7   9   9  15  12  10   7  10  6   8  15  10   6  11   9  12  7  11  11
 13  10  13  13  17  13  10  11  11  8  11  10  21   9   6  15  12  5  12  17
  6   8   6   8   8   9   7   1   8  4   5   6   9  12   7   9   5  3   7   9
  8   7   6   5  11  10   8   3   8  5   5  11   6   7  13   7   8  6   8   9
 12   8  13  11  18  15  11   8  12  7   9   9  15   9   7  18  10  5  11  16
 13   9  13  11  15  10  11   8  10  8   8  12  12   5   8  10  18  9  10  14
  8   4   6   5   8   5   5   4   6  5   4   7   5   3   6   5   9  7   5   7
 10   8   9  10  14  11  10   8  11  6   8  11  12   7   8  11  10  5  13  12
 15  11  15  11  19  15  12   9  12  9  10  11  17   9   9  16  14  7  12  20

### Diagonal Matrix from $\mathbf{A}$

In [47]:
Diagonal(A)

20×20 Diagonal{Int64,Array{Int64,1}}:
 18   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅  13   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅  15   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅  14   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅  25   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅  20   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  14   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  12   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  13  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  8   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅  11   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅  15   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅  21   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅  12   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅  13   ⋅   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  18   ⋅  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  18  ⋅   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  7   ⋅   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅  13   ⋅
  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅   ⋅  ⋅   ⋅  20

### Diagonal Matrix from $\mathbf{v}$

In [48]:
v = [1,2,3]
Diagonal(v)

3×3 Diagonal{Int64,Array{Int64,1}}:
 1  ⋅  ⋅
 ⋅  2  ⋅
 ⋅  ⋅  3

### Subset of Matrix

In [49]:
B = A[1:2,3:4]

2×2 Array{Int64,2}:
 11  9
  8  8

In [50]:
C = A[1:2,11:end]

2×10 Array{Int64,2}:
 7  9  13  6  8  12  13  8  10  15
 5  7  10  8  7   8   9  4   8  11

### Concatenation
#### Horizontal

In [51]:
[B C]

2×12 Array{Int64,2}:
 11  9  7  9  13  6  8  12  13  8  10  15
  8  8  5  7  10  8  7   8   9  4   8  11

In [52]:
hcat(B,C)

2×12 Array{Int64,2}:
 11  9  7  9  13  6  8  12  13  8  10  15
  8  8  5  7  10  8  7   8   9  4   8  11

#### Vertical

In [53]:
[ 
A[1:2,:]
A[11:end,:]
]

12×20 Array{Int64,2}:
 18   9  11   9  14   8   9  10  11  9   7   9  13   6   8  12  13  8  10  15
  9  13   8   8   8   8  10   3   7  5   5   7  10   8   7   8   9  4   8  11
  7   5   7   7  12  11   5   6   8  7  11   8  11   5   5   9   8  4   8  10
  9   7   9   9  15  12  10   7  10  6   8  15  10   6  11   9  12  7  11  11
 13  10  13  13  17  13  10  11  11  8  11  10  21   9   6  15  12  5  12  17
  6   8   6   8   8   9   7   1   8  4   5   6   9  12   7   9   5  3   7   9
  8   7   6   5  11  10   8   3   8  5   5  11   6   7  13   7   8  6   8   9
 12   8  13  11  18  15  11   8  12  7   9   9  15   9   7  18  10  5  11  16
 13   9  13  11  15  10  11   8  10  8   8  12  12   5   8  10  18  9  10  14
  8   4   6   5   8   5   5   4   6  5   4   7   5   3   6   5   9  7   5   7
 10   8   9  10  14  11  10   8  11  6   8  11  12   7   8  11  10  5  13  12
 15  11  15  11  19  15  12   9  12  9  10  11  17   9   9  16  14  7  12  20

In [54]:
vcat(A[1:2,:],A[11:end,:])

12×20 Array{Int64,2}:
 18   9  11   9  14   8   9  10  11  9   7   9  13   6   8  12  13  8  10  15
  9  13   8   8   8   8  10   3   7  5   5   7  10   8   7   8   9  4   8  11
  7   5   7   7  12  11   5   6   8  7  11   8  11   5   5   9   8  4   8  10
  9   7   9   9  15  12  10   7  10  6   8  15  10   6  11   9  12  7  11  11
 13  10  13  13  17  13  10  11  11  8  11  10  21   9   6  15  12  5  12  17
  6   8   6   8   8   9   7   1   8  4   5   6   9  12   7   9   5  3   7   9
  8   7   6   5  11  10   8   3   8  5   5  11   6   7  13   7   8  6   8   9
 12   8  13  11  18  15  11   8  12  7   9   9  15   9   7  18  10  5  11  16
 13   9  13  11  15  10  11   8  10  8   8  12  12   5   8  10  18  9  10  14
  8   4   6   5   8   5   5   4   6  5   4   7   5   3   6   5   9  7   5   7
 10   8   9  10  14  11  10   8  11  6   8  11  12   7   8  11  10  5  13  12
 15  11  15  11  19  15  12   9  12  9  10  11  17   9   9  16  14  7  12  20

### Sorting

In [55]:
sort(M[:,1])

10-element Array{Int64,1}:
 0
 0
 1
 1
 1
 1
 1
 2
 2
 2

In [56]:
index = sortperm(M[:,1])

10-element Array{Int64,1}:
  3
 10
  1
  2
  4
  6
  8
  5
  7
  9

In [57]:
M[index,1]

10-element Array{Int64,1}:
 0
 0
 1
 1
 1
 1
 1
 2
 2
 2

### Sorting the entire matrix by the first column

In [58]:
M[index,:]

10×20 Array{Int64,2}:
 0  1  1  1  2  2  2  1  1  0  1  2  1  0  1  1  1  0  2  1
 0  1  0  1  1  2  0  0  1  1  2  1  2  2  1  1  0  0  1  1
 1  0  1  1  1  0  0  1  1  1  1  1  1  0  0  0  2  1  1  1
 1  0  1  1  2  1  1  1  1  0  0  2  1  1  2  1  1  1  1  1
 1  0  1  1  2  2  1  0  2  1  1  1  0  1  1  2  1  1  1  1
 1  2  2  2  1  1  2  0  1  0  0  0  2  2  0  2  1  0  1  2
 1  1  2  0  2  2  1  0  0  1  1  1  1  0  1  1  2  1  0  2
 2  1  1  2  1  0  1  2  1  1  1  1  2  0  0  1  2  1  1  1
 2  2  0  0  0  0  1  0  1  1  0  1  0  1  2  0  1  1  1  1
 2  0  1  0  2  1  0  2  1  1  1  0  2  0  0  2  0  0  1  2

### Sorting matrix by the sum of columns 1 and 2

In [59]:
M[sortperm( M[:,1]+M[:,2] ),:]

10×20 Array{Int64,2}:
 1  0  1  1  1  0  0  1  1  1  1  1  1  0  0  0  2  1  1  1
 1  0  1  1  2  1  1  1  1  0  0  2  1  1  2  1  1  1  1  1
 0  1  1  1  2  2  2  1  1  0  1  2  1  0  1  1  1  0  2  1
 1  0  1  1  2  2  1  0  2  1  1  1  0  1  1  2  1  1  1  1
 0  1  0  1  1  2  0  0  1  1  2  1  2  2  1  1  0  0  1  1
 1  1  2  0  2  2  1  0  0  1  1  1  1  0  1  1  2  1  0  2
 2  0  1  0  2  1  0  2  1  1  1  0  2  0  0  2  0  0  1  2
 2  1  1  2  1  0  1  2  1  1  1  1  2  0  0  1  2  1  1  1
 1  2  2  2  1  1  2  0  1  0  0  0  2  2  0  2  1  0  1  2
 2  2  0  0  0  0  1  0  1  1  0  1  0  1  2  0  1  1  1  1

### Selecting rows or columns of matrix

#### Select rows where row sum is > 19

In [60]:
vec(sum(M,dims=2) .> 19)

10-element BitArray{1}:
 0
 1
 1
 1
 1
 1
 0
 1
 0
 0

In [61]:
M[vec(sum(M,dims=2) .> 19), :]

6×20 Array{Int64,2}:
 1  0  1  1  2  1  1  1  1  0  0  2  1  1  2  1  1  1  1  1
 0  1  1  1  2  2  2  1  1  0  1  2  1  0  1  1  1  0  2  1
 1  0  1  1  2  2  1  0  2  1  1  1  0  1  1  2  1  1  1  1
 2  1  1  2  1  0  1  2  1  1  1  1  2  0  0  1  2  1  1  1
 1  2  2  2  1  1  2  0  1  0  0  0  2  2  0  2  1  0  1  2
 1  1  2  0  2  2  1  0  0  1  1  1  1  0  1  1  2  1  0  2

#### Get random subset of 5 columns from M

In [62]:
sel = sample(1:size(M,2),5,replace=false)

5-element Array{Int64,1}:
  8
 15
 17
  2
 14

In [63]:
M[:,sel]

10×5 Array{Int64,2}:
 1  0  2  0  0
 1  2  1  0  1
 1  1  1  1  0
 0  1  1  0  1
 2  0  2  1  0
 0  0  1  2  2
 0  2  1  2  1
 0  1  2  1  0
 2  0  0  0  0
 0  1  0  1  2

#### Get the remaining columns: 
#### M[:,-sel] does not work in Julia

In [64]:
setdiff(1:size(M,2),sel)

15-element Array{Int64,1}:
  1
  3
  4
  5
  6
  7
  9
 10
 11
 12
 13
 16
 18
 19
 20

In [65]:
M[:,setdiff(1:size(M,2),sel)] # not as nice as M[:,-sel]

10×15 Array{Int64,2}:
 1  1  1  1  0  0  1  1  1  1  1  0  1  1  1
 1  1  1  2  1  1  1  0  0  2  1  1  1  1  1
 0  1  1  2  2  2  1  0  1  2  1  1  0  2  1
 1  1  1  2  2  1  2  1  1  1  0  2  1  1  1
 2  1  2  1  0  1  1  1  1  1  2  1  1  1  1
 1  2  2  1  1  2  1  0  0  0  2  2  0  1  2
 2  0  0  0  0  1  1  1  0  1  0  0  1  1  1
 1  2  0  2  2  1  0  1  1  1  1  1  1  0  2
 2  1  0  2  1  0  1  1  1  0  2  2  0  1  2
 0  0  1  1  2  0  1  1  2  1  2  1  0  1  1

### View of array

In [66]:
m2 = @view M[:,2] # does not make a copy of the second column of M

10-element view(::Array{Int64,2}, :, 2) with eltype Int64:
 0
 0
 1
 0
 1
 2
 2
 1
 0
 1

In [67]:
m2[2] = 3
M

10×20 Array{Int64,2}:
 1  0  1  1  1  0  0  1  1  1  1  1  1  0  0  0  2  1  1  1
 1  3  1  1  2  1  1  1  1  0  0  2  1  1  2  1  1  1  1  1
 0  1  1  1  2  2  2  1  1  0  1  2  1  0  1  1  1  0  2  1
 1  0  1  1  2  2  1  0  2  1  1  1  0  1  1  2  1  1  1  1
 2  1  1  2  1  0  1  2  1  1  1  1  2  0  0  1  2  1  1  1
 1  2  2  2  1  1  2  0  1  0  0  0  2  2  0  2  1  0  1  2
 2  2  0  0  0  0  1  0  1  1  0  1  0  1  2  0  1  1  1  1
 1  1  2  0  2  2  1  0  0  1  1  1  1  0  1  1  2  1  0  2
 2  0  1  0  2  1  0  2  1  1  1  0  2  0  0  2  0  0  1  2
 0  1  0  1  1  2  0  0  1  1  2  1  2  2  1  1  0  0  1  1

Note that changing the value of m2[2] results in changing the second column of M.

#### View of a row from a matrix

In [68]:
# view of row 2 from M
row2 = @view M[2,:]

20-element view(::Array{Int64,2}, 2, :) with eltype Int64:
 1
 3
 1
 1
 2
 1
 1
 1
 1
 0
 0
 2
 1
 1
 2
 1
 1
 1
 1
 1

Note that the view of a row from a matrix is a one-dimensional array that behaves like a column vector!

In [69]:
row2'row2

35

### Copy of array

In [70]:
v = [1, 2, 3]

3-element Array{Int64,1}:
 1
 2
 3

In [71]:
u = v
u[1] = 10
u

3-element Array{Int64,1}:
 10
  2
  3

In [72]:
v

3-element Array{Int64,1}:
 10
  2
  3

So, u is not just a copy of v. It is another name for v. To get a copy use:

In [73]:
v = [1, 2, 3]
u = copy(v)
u[1] = 10
u

3-element Array{Int64,1}:
 10
  2
  3

In [74]:
v

3-element Array{Int64,1}:
 1
 2
 3

### Sparse Matrices

In [75]:
using SparseArrays, LinearAlgebra
x=[1,1,2,2,2,2,3,3,4,1]
y=[1.1,1.2,1.9,1.2,2.0,1.7,1.0,1.7,1.1,1.7]
n = size(x,1)

10

In [76]:
# X is a sparse matrix, where only non-zero elements are stored
X = sparse(1:n,x,1.0) # In general, the last argument can be a vector
X =[ones(n) X]        # # concatenation works with sparse X

10×5 SparseMatrixCSC{Float64,Int64} with 20 stored entries:
  [1 , 1]  =  1.0
  [2 , 1]  =  1.0
  [3 , 1]  =  1.0
  [4 , 1]  =  1.0
  [5 , 1]  =  1.0
  [6 , 1]  =  1.0
  [7 , 1]  =  1.0
  [8 , 1]  =  1.0
  [9 , 1]  =  1.0
  [10, 1]  =  1.0
  [1 , 2]  =  1.0
  [2 , 2]  =  1.0
  [10, 2]  =  1.0
  [3 , 3]  =  1.0
  [4 , 3]  =  1.0
  [5 , 3]  =  1.0
  [6 , 3]  =  1.0
  [7 , 4]  =  1.0
  [8 , 4]  =  1.0
  [9 , 5]  =  1.0

In [77]:
# Full matrix from X
Matrix(X)

10×5 Array{Float64,2}:
 1.0  1.0  0.0  0.0  0.0
 1.0  1.0  0.0  0.0  0.0
 1.0  0.0  1.0  0.0  0.0
 1.0  0.0  1.0  0.0  0.0
 1.0  0.0  1.0  0.0  0.0
 1.0  0.0  1.0  0.0  0.0
 1.0  0.0  0.0  1.0  0.0
 1.0  0.0  0.0  1.0  0.0
 1.0  0.0  0.0  0.0  1.0
 1.0  1.0  0.0  0.0  0.0

In [78]:
# usual matrix operations work
rhs = X'y
lhs = X'X

5×5 SparseMatrixCSC{Float64,Int64} with 13 stored entries:
  [1, 1]  =  10.0
  [2, 1]  =  3.0
  [3, 1]  =  4.0
  [4, 1]  =  2.0
  [5, 1]  =  1.0
  [1, 2]  =  3.0
  [2, 2]  =  3.0
  [1, 3]  =  4.0
  [3, 3]  =  4.0
  [1, 4]  =  2.0
  [4, 4]  =  2.0
  [1, 5]  =  1.0
  [5, 5]  =  1.0

In [79]:
lhs = X'X
rhs = X'y

5-element Array{Float64,1}:
 14.599999999999998
  4.0
  6.8
  2.7
  1.1

#### Getting solution to (X'X)b = X'y

In [80]:
# lhs = X'X and rhs=X'y
QRLhs = qr(lhs) 
b = QRLhs\rhs

5-element Array{Float64,1}:
 1.099999999999999
 0.23333333333333395
 0.6000000000000002
 0.25000000000000117
 0.0

In [81]:
[lhs*b rhs]

5×2 Array{Float64,2}:
 14.6  14.6
  4.0   4.0
  6.8   6.8
  2.7   2.7
  1.1   1.1

#### Sparse Zero Matrix

In [82]:
spzeros(2,2)

2×2 SparseMatrixCSC{Float64,Int64} with 0 stored entries

#### Sparse Identity Matrix

In [83]:
N = 1_000_000
R = sparse(1.0I,N,N)

1000000×1000000 SparseMatrixCSC{Float64,Int64} with 1000000 stored entries:
  [1      ,       1]  =  1.0
  [2      ,       2]  =  1.0
  [3      ,       3]  =  1.0
  [4      ,       4]  =  1.0
  [5      ,       5]  =  1.0
  [6      ,       6]  =  1.0
  [7      ,       7]  =  1.0
  [8      ,       8]  =  1.0
  [9      ,       9]  =  1.0
  [10     ,      10]  =  1.0
  [11     ,      11]  =  1.0
  [12     ,      12]  =  1.0
  ⋮
  [999988 ,  999988]  =  1.0
  [999989 ,  999989]  =  1.0
  [999990 ,  999990]  =  1.0
  [999991 ,  999991]  =  1.0
  [999992 ,  999992]  =  1.0
  [999993 ,  999993]  =  1.0
  [999994 ,  999994]  =  1.0
  [999995 ,  999995]  =  1.0
  [999996 ,  999996]  =  1.0
  [999997 ,  999997]  =  1.0
  [999998 ,  999998]  =  1.0
  [999999 ,  999999]  =  1.0
  [1000000, 1000000]  =  1.0

## Control Flow and Loops

### Adding vectors u and v.

#### Hard coding:

This is one way to get the result. But, coding will be tedious for long vectors. Further, recoding will be required when the lenght of the vectors changes.

In [84]:
result = zero(u) # gets vector of zeros identical in dimension to that of u
result[1] = u[1] + v[1]
result[2] = u[2] + v[2]
result[3] = u[3] + v[3]
[u v result]

3×3 Array{Int64,2}:
 10  1  11
  2  2   4
  3  3   6

#### Using loop:

The code is the same for vectors of any length.

In [85]:
result = zero(u)
for i=1:size(u,1)
    result[i] = u[i] + v[i]
end
[u v result]

3×3 Array{Int64,2}:
 10  1  11
  2  2   4
  3  3   6

Use of a [function](content:Functions) is a more general way to do this!

### Sum of elements in v

In [86]:
mySum = 0.0
for i = v
    mySum += i
end
mySum

6.0

### Get vector of squared values in v

#### Using loop:

In [87]:
n = size(v,1)
result = zeros(n)
for i=1:n
    result[i] = v[i]^2
end
result

3-element Array{Float64,1}:
 1.0
 4.0
 9.0

#### Using list comprehension:

This is a more concise way to get the same result.

In [88]:
[i^2 for i in v]

3-element Array{Int64,1}:
 1
 4
 9

### List comprehension with condition

In [89]:
x = randn(10)
[sqrt(i) for i in x if i >= 0.0]

3-element Array{Float64,1}:
 1.4075528832179276
 0.883316577324486
 1.0370944039431345

In [90]:
res = [[i sqrt(value)] for (i,value) in enumerate(x) if value >= 0.0]

3-element Array{Array{Float64,2},1}:
 [5.0 1.4075528832179276]
 [6.0 0.883316577324486]
 [10.0 1.0370944039431345]

### Convert array of arrays to matrix:

Each element of `res` computed above is also an array with two elements. Often, we would like to convert such and array of arrays to a matrix. 
Two methods methods are given below to accomplish this.

#### Method 1:

In [91]:
resMat = [row[i] for row in res, i=1:2]

3×2 Array{Float64,2}:
  5.0  1.40755
  6.0  0.883317
 10.0  1.03709

#### Method 2:

In [92]:
vcat(res...)

3×2 Array{Float64,2}:
  5.0  1.40755
  6.0  0.883317
 10.0  1.03709

### Matrix from list comprehension

In [93]:
[i+j for i=1:2, j=3:5]

2×3 Array{Int64,2}:
 4  5  6
 5  6  7

### Use of Range

In [94]:
r = range(0, step=0.1, stop=1)

0.0:0.1:1.0

In [95]:
# This works too

r = 0:0.1:1

0.0:0.1:1.0

r is not an arryay, but in many contexts behaves like one

In [96]:
sin.(r)

11-element Array{Float64,1}:
 0.0
 0.09983341664682815
 0.19866933079506122
 0.29552020666133955
 0.3894183423086505
 0.479425538604203
 0.5646424733950354
 0.644217687237691
 0.7173560908995228
 0.7833269096274834
 0.8414709848078965

### Use of Map to apply a function to elements of array

In [97]:
map(sin,r)

11-element Array{Float64,1}:
 0.0
 0.09983341664682815
 0.19866933079506122
 0.29552020666133955
 0.3894183423086505
 0.479425538604203
 0.5646424733950354
 0.644217687237691
 0.7173560908995228
 0.7833269096274834
 0.8414709848078965

### Reduce and Map-Reduce

In [98]:
# sum of elements in u
reduce(+,u)

15

In [99]:
# product of elements in u
reduce(*,u)

60

In [100]:
reduce(+,1:1000000)

500000500000

#### Sum of squares

In [101]:
n = 1_000_000
mapreduce(x -> x^2, +, 1:n)

333333833333500000

Here, a vector of squares is created first, which, as will be demonstrated later, slower because of the time used for memory allocation

In [102]:
reduce(+,(1:n).^2)

333333833333500000

## Types

### Determine the type of a variable as:

In [103]:
# type of M
typeof(M)

Array{Int64,2}

In [104]:
# type of v
typeof(v)

Array{Int64,1}

(section:compositeTypes)=
### Composite Types

An example of a user-defined type:

In [105]:
# Example
mutable struct BankAccount
    accountNumber::Int64
    firstName::String
    lastName::String
    balance::Float64
end

#### Get all the names in a composite type:

In [106]:
fieldnames(BankAccount)

(:accountNumber, :firstName, :lastName, :balance)

#### Get the types of all fields:

In [107]:
BankAccount.types

svec(Int64, String, String, Float64)

#### Create an instance of `BankAccount`

In [108]:
a1 = BankAccount(1234,"Tom","Smith",1000.0)
a2 = BankAccount(4321,"Jim","Shanks",500.0)
a3 = BankAccount(9321,"Scott","Williams",500.0)

BankAccount(9321, "Scott", "Williams", 500.0)

#### Access field in composite type:

In [109]:
a1.balance

1000.0

In [110]:
# can modify fields of mutable structs
a1.balance = 2000.50

2000.5

In [111]:
a2.balance

500.0

In [112]:
a2.firstName

"Jim"

## Dictionaries (Associative Arrays)

A dictionary in Julia is a collection of key value pairs.

### Declaration

In the example given below, d is an empty dictionary that can store an instance of the composite type {ref}`BankAccount<section:compositeTypes>` with an associated integer key.

In [113]:
#= 
d is an empty dictionary that can store "BackAccounts" 
with an interger key (i.e., with the account number as the key)
=#

d = Dict{Int64,BankAccount}()

Dict{Int64,BankAccount}()

### Putting values in dictionary

Recall that `a1` and `a2` are instances of the composite type {ref}`BankAccount<section:compositeTypes>`.

In [114]:
@show(a1)

a1 = BankAccount(1234, "Tom", "Smith", 2000.5)

BankAccount(1234, "Tom", "Smith", 2000.5)

In [115]:
d[a1.accountNumber] = a1
d

Dict{Int64,BankAccount} with 1 entry:
  1234 => BankAccount(1234, "Tom", "Smith", 2000.5)

In [116]:
d[a2.accountNumber] = a2
d

Dict{Int64,BankAccount} with 2 entries:
  4321 => BankAccount(4321, "Jim", "Shanks", 500.0)
  1234 => BankAccount(1234, "Tom", "Smith", 2000.5)

In [117]:
d[a3.accountNumber] = a3
d

Dict{Int64,BankAccount} with 3 entries:
  4321 => BankAccount(4321, "Jim", "Shanks", 500.0)
  9321 => BankAccount(9321, "Scott", "Williams", 500.0)
  1234 => BankAccount(1234, "Tom", "Smith", 2000.5)

### Get array of keys in d

In [118]:
collect(keys(d))

3-element Array{Int64,1}:
 4321
 9321
 1234

#### Get the value associated with `key = 1234`

In [119]:
d[1234]

BankAccount(1234, "Tom", "Smith", 2000.5)

### Get array of values in d

#### Using `values` function

In [120]:
values(d)

Base.ValueIterator for a Dict{Int64,BankAccount} with 3 entries. Values:
  BankAccount(4321, "Jim", "Shanks", 500.0)
  BankAccount(9321, "Scott", "Williams", 500.0)
  BankAccount(1234, "Tom", "Smith", 2000.5)

In [121]:
collect(values(d))

3-element Array{BankAccount,1}:
 BankAccount(4321, "Jim", "Shanks", 500.0)
 BankAccount(9321, "Scott", "Williams", 500.0)
 BankAccount(1234, "Tom", "Smith", 2000.5)

#### Using list comprehension

In [122]:
[i for i in values(d)]

3-element Array{BankAccount,1}:
 BankAccount(4321, "Jim", "Shanks", 500.0)
 BankAccount(9321, "Scott", "Williams", 500.0)
 BankAccount(1234, "Tom", "Smith", 2000.5)

In [123]:
keys(d)

Base.KeySet for a Dict{Int64,BankAccount} with 3 entries. Keys:
  4321
  9321
  1234

In [124]:
[d[i] for i in keys(d)]

3-element Array{BankAccount,1}:
 BankAccount(4321, "Jim", "Shanks", 500.0)
 BankAccount(9321, "Scott", "Williams", 500.0)
 BankAccount(1234, "Tom", "Smith", 2000.5)

### Check if Dictionary has a particular key

In [125]:
haskey(d,1234)

true

In [126]:
haskey(d,123)

false

## Functions and Scope of Variables

(content:Functions)=
### Function for adding two vectors

Functions allow code to be reused. We have seen how a loop can be used to add two vectors:

In [127]:
u = [1,2]
v = [3,4]
result = zero(u)
for i=1:size(u,1)
    result[i] = u[i] + v[i]
end
[u v result]

2×3 Array{Int64,2}:
 1  3  4
 2  4  6

Suppose we now want to add vector `x` to vector `y`:

In [128]:
x = [9,7,6,5]
y = [2,2,2,1];

We can do by copying the code from above as:

In [129]:
u = x
v = y
result = zero(u)
for i=1:size(u,1)
    result[i] = u[i] + v[i]
end
[u v result]

4×3 Array{Int64,2}:
 9  2  11
 7  2   9
 6  2   8
 5  1   6

This can and should be avoided by using a function with the code that was repeated.

In [130]:
function addVectors(u,v)
    if size(u,1) != size(v,1)
        println("The size of u (= $(size(u,1))) is not equal to the size of v (= $(size(v,1))) ")
        return []
    end
    result = zero(u)
    for i=1:size(u,1)
        result[i] = u[i] + v[i]
    end
    return result
end

addVectors (generic function with 1 method)

In [131]:
[u v addVectors(u,v)]

4×3 Array{Int64,2}:
 9  2  11
 7  2   9
 6  2   8
 5  1   6

In [132]:
[x y addVectors(x,y)]

4×3 Array{Int64,2}:
 9  2  11
 7  2   9
 6  2   8
 5  1   6

In [133]:
[x u addVectors(x,u)]

4×3 Array{Int64,2}:
 9  9  18
 7  7  14
 6  6  12
 5  5  10

### Scope of Variables

Note that within the function `addVectors`, the output is the sum of the vectors `u` and `v`, but calling it with the vectors `x` and `y` results their sum. The variables `u` and `v` within the function refer to those given when the function was called. Thus, the same function can be used to add any two vectors of the same length. The behavior of the variables `u` and `v` within the function has to do with what is called the scope of variables and how variables are passed to functions. In Julia variables are passed "by reference" rather than "by value". This makes passing large structures to functions very efficient compared to passing arguments to the function "by value", which requies making a copy of the argument.  

However, at first, the way functions behave can be confusing as shown below.

In [134]:
function addOne(x) # x is a local variable pointing to the value of the argument of the function 
    @show(x) 
    x = x + 1     # x is now redirected to point the the value of (x+1)
    @show(x)
    return x
end

addOne (generic function with 1 method)

In [135]:
y = 2
@show(y)
@show(addOne(y))
@show(y);             # y is still pointing to 2

y = 2
x = 2
x = 3
addOne(y) = 3
y = 2

In [136]:
function addOneToVec(x) # x is a local variable pointing to the vector argument of the function 
    @show(x) 
    x = x .+ 1          # x is now redirected to point a new vector with the values of (x+1)
    @show(x)
    return x
end

addOneToVec (generic function with 1 method)

In [137]:
u = [1,2]
@show(u)
@show(addOneToVec(u))
@show(u)

u = [1, 2]
x = [1, 2]
x = [2, 3]
addOneToVec(u) = [2, 3]
u = [1, 2]

2-element Array{Int64,1}:
 1
 2

Compare the behavior of the following funtion with that above:

In [138]:
function addOneToVec!(x) # x is a local variable pointing to the vector argument of the function 
    @show(x) 
    x  .= x .+ 1          # x still points to the same vector, but the elemets in the vector are modified
    @show(x)
    return x
end

addOneToVec! (generic function with 1 method)

In [139]:
u = [1,2]
@show(u)
@show(addOneToVec!(u))
@show(u)

u = [1, 2]
x = [1, 2]
x = [2, 3]
addOneToVec!(u) = [2, 3]
u = [2, 3]

2-element Array{Int64,1}:
 2
 3

In [140]:
function addOneToVecLoop!(x) # x is a local variable pointing to the vector argument of the function 
    @show(x)
    for i in 1:size(x,1)
        x[i] += 1 # x still points to the same vector, but the elemets in the vector x are are modified here
    end
    @show(x)
    return x
end

addOneToVecLoop! (generic function with 1 method)

In [141]:
u = [1,2]
@show(u)
@show(addOneToVecLoop!(u))
@show(u)

u = [1, 2]
x = [1, 2]
x = [2, 3]
addOneToVecLoop!(u) = [2, 3]
u = [2, 3]

2-element Array{Int64,1}:
 2
 3

Nice explanation of the difference in bahavior of these functions is given here: [The Map is Not the Territory!](http://www.johnmyleswhite.com/notebook/2014/09/06/values-vs-bindings-the-map-is-not-the-territory/)

#### Functions can have arguments with default values

In [142]:
function addYToVec!(x,y=1) # x is a local variable pointing to the vector argument of the function 
    @show(x) 
    x .= x .+ y          # x still points to the same vector, but the elemets in the vector are modified
    @show(x)
    return x
end

addYToVec! (generic function with 2 methods)

In [143]:
u = [1,2]
@show(u)
@show(addYToVec!(u)) # default value is added to each element of u
@show(u)

u = [1, 2]
x = [1, 2]
x = [2, 3]
addYToVec!(u) = [2, 3]
u = [2, 3]

2-element Array{Int64,1}:
 2
 3

In [144]:
u = [1,2]
@show(u)
@show(addYToVec!(u,2))
@show(u)

u = [1, 2]
x = [1, 2]
x = [3, 4]
addYToVec!(u, 2) = [3, 4]
u = [3, 4]

2-element Array{Int64,1}:
 3
 4

In [145]:
function addkTimesYToVec!(x,k=1,y=2) # x is a local variable pointing to the vector argument of the function 
    @show(x) 
    x .= x .+ y*k          # x still points to the same vector, but the elemets in the vector are modified
    @show(x)
    return x
end

addkTimesYToVec! (generic function with 3 methods)

In [146]:
u = [1,2]
@show(u)
@show(addkTimesYToVec!(u))
@show(u)

u = [1, 2]
x = [1, 2]
x = [3, 4]
addkTimesYToVec!(u) = [3, 4]
u = [3, 4]

2-element Array{Int64,1}:
 3
 4

In [147]:
addkTimesYToVec!(u,2,2)

x = [3, 4]
x = [7, 8]

2-element Array{Int64,1}:
 7
 8

###  Functions with key value pairs

In [148]:
function addcxToV!(v;c=1,x=2)
    v .= c*x .+ v
end

addcxToV! (generic function with 1 method)

In [149]:
v = [2,5]
@show(addcxToV!(v))

addcxToV!(v) = [4, 7]

2-element Array{Int64,1}:
 4
 7

In [150]:
v = [2,5]
@show(addcxToV!(v,x=1))

addcxToV!(v, x = 1) = [3, 6]

2-element Array{Int64,1}:
 3
 6

### Multiple Dispatch of "+" Operator (Overloading Operators)

What the "+" operator does depends on the arguments. The function defined below will be called when it is used with two BankAccount arguments. Other operators can be similarly "overloaded" to work with user-defined types.

In [151]:
import Base.+
function +(a1::BankAccount,a2::BankAccount)
    a1.balance += a2.balance
    a2.balance = 0
end

+ (generic function with 225 methods)

In [152]:
@show(a1,a2)
a1 + a2
@show(a1,a2)

a1 = BankAccount(1234, "Tom", "Smith", 2000.5)
a2 = BankAccount(4321, "Jim", "Shanks", 500.0)
a1 = BankAccount(1234, "Tom", "Smith", 2500.5)
a2 = BankAccount(4321, "Jim", "Shanks", 0.0)

BankAccount(4321, "Jim", "Shanks", 0.0)

In [153]:
@show(a1,a2)
+(a1,a2)
@show(a1,a2)

a1 = BankAccount(1234, "Tom", "Smith", 2500.5)
a2 = BankAccount(4321, "Jim", "Shanks", 0.0)
a1 = BankAccount(1234, "Tom", "Smith", 2500.5)
a2 = BankAccount(4321, "Jim", "Shanks", 0.0)

BankAccount(4321, "Jim", "Shanks", 0.0)

### Keyword arguments cannot be used for multiple dispatch 

See example below.

In [154]:
struct T1
    a
end
struct T2
    a
end
struct T3
    a
end

In [155]:
function f1(;a::T1=T1(1),b::T2=T2(2))
    println("called f1.1")
end
function f1(;a::T1=T1(1),b::T3=T2(2))
    println("called f1.2")
end

f1 (generic function with 1 method)

In [156]:
function f1(a::T1,b::T2)
    println("called f1.1")
end
function f1(a::T1,b::T3)
    println("called f1.2")
end

f1 (generic function with 3 methods)

Observe that there is only once version of the function `f1`. The error message below indicates that this is the second version of `f1`.

In [157]:
t1 = T1(1)
t2 = T2(2)
f1(t1,t2)

called f1.1

In [158]:
t1 = T1(1)
t3 = T3(2)
f1(t1,t3)

called f1.2

### Often loops faster than vectorizng!

In [159]:
function f1(n)
    mapreduce(x -> x^2, +, 1:n)
end

f1 (generic function with 4 methods)

In [160]:
function f2(n)
    reduce(+,(1:n).^2)
end

f2 (generic function with 1 method)

In [161]:
@time f1(1_000_000)

  0.000009 seconds

333333833333500000

In [162]:
@time f2(1_000_000)

  0.001193 seconds (2 allocations: 7.629 MiB)

333333833333500000

In [163]:
function f3(n)
    sum = 0
    for i=1:n
        sum += i^2
    end
    return sum
end

f3 (generic function with 1 method)

In [164]:
@time f3(1_000_000)

  0.000000 seconds

333333833333500000

### Exercise 1

* Write a function that uses loops to get the sum of two matrices.

* Write a function with two matrix arguments that adds the second matrix to the first. 

* Write a function that uses loops to get the product of two matrices.

## Reading and Writing from Files

### Text Files

In [165]:
using Printf # needed for formatted print commands

In [166]:
A = randn(5,3)

5×3 Array{Float64,2}:
 -0.243188   2.11002   -0.293474
  0.115541  -0.791756   0.383593
  1.23965    0.295535   0.624417
 -1.64212   -0.309248  -0.00537324
 -0.85672   -1.05915    0.502534

In [167]:
out = open("outFile","w")
n,p = size(A)
for j=1:p
    for i=1:n
        @printf(out,"%10.5f ", A[i,j])
    end
    @printf(out,"\n")
end
close(out)

In [168]:
;cat outFile

  -0.24319    0.11554    1.23965   -1.64212   -0.85672
   2.11002   -0.79176    0.29553   -0.30925   -1.05915
  -0.29347    0.38359    0.62442   -0.00537    0.50253

In [169]:
out = open("outFile","w")
n,p = size(A)
for j=1:p
    for i=1:n
        print(out,A[i,j]," ")
    end
    print(out,"\n")
end
close(out)

In [170]:
;cat outFile

-0.2431884174967946 0.11554132994760817 1.2396518137011185 -1.6421199024818836 -0.8567200101471943
2.110017071943788 -0.7917555615087228 0.29553472225843075 -0.3092475824232674 -1.0591480653224863
-0.29347441972603305 0.38359334268691614 0.6244169090955498 -0.005373238917211167 0.5025341402728681

In [171]:
out = open("outFile","w")
n,p = size(A)
for j=1:p
    for i=1:n
        @printf(out,"%10.5e ", A[i,j])
    end
    @printf(out,"\n")
end
close(out)

In [172]:
;cat outFile

-2.43188e-01 1.15541e-01 1.23965e+00 -1.64212e+00 -8.56720e-01
2.11002e+00 -7.91756e-01 2.95535e-01 -3.09248e-01 -1.05915e+00
-2.93474e-01 3.83593e-01 6.24417e-01 -5.37324e-03 5.02534e-01

In [173]:
inStream = open("outFile","r")
for line = eachline(inStream)
    println(line)
end
close(inStream)

-2.43188e-01 1.15541e-01 1.23965e+00 -1.64212e+00 -8.56720e-01
2.11002e+00 -7.91756e-01 2.95535e-01 -3.09248e-01 -1.05915e+00
-2.93474e-01 3.83593e-01 6.24417e-01 -5.37324e-03 5.02534e-01

In [174]:
B = Array{Float64,2}(undef,5,3)

5×3 Array{Float64,2}:
 2.26671e-314  2.24014e-314  2.34871e-314
 2.26671e-314  2.34871e-314  2.34871e-314
 2.26671e-314  2.24014e-314  2.34871e-314
 2.26671e-314  2.34871e-314  2.34871e-314
 2.34871e-314  2.24014e-314  2.34871e-314

In [175]:
B = zeros(5,3)

5×3 Array{Float64,2}:
 0.0  0.0  0.0
 0.0  0.0  0.0
 0.0  0.0  0.0
 0.0  0.0  0.0
 0.0  0.0  0.0

In [176]:
inStream = open("outFile","r")
j = 1
for line = eachline(inStream)
    B[:,j] = parse.(Float64,split(line))
    j += 1
end
close(inStream)

In [177]:
B

5×3 Array{Float64,2}:
 -0.243188   2.11002   -0.293474
  0.115541  -0.791756   0.383593
  1.23965    0.295535   0.624417
 -1.64212   -0.309248  -0.00537324
 -0.85672   -1.05915    0.502534

In [178]:
;cat outFile

-2.43188e-01 1.15541e-01 1.23965e+00 -1.64212e+00 -8.56720e-01
2.11002e+00 -7.91756e-01 2.95535e-01 -3.09248e-01 -1.05915e+00
-2.93474e-01 3.83593e-01 6.24417e-01 -5.37324e-03 5.02534e-01

### Binary Files

Write matrix A. In Julia matrices are stored by column (column-major). So writing should be done by column.

In [179]:
binOut = open("out.bin","w")
n,p = size(A)
write(binOut,n,p)
for j=1:p, i=1:n
    write(binOut,A[i,j])
end
close(binOut)

In [180]:
binIn = open("out.bin","r")

IOStream(<file out.bin>)

### Reading from a binary file is easy.

In [181]:
mySize = zeros(Int64,2)
read!(binIn,mySize)
n = mySize[1]
p = mySize[2]

3

In [182]:
C = zeros(n,p)
read!(binIn,C)
close(binIn)

In [183]:
C

5×3 Array{Float64,2}:
 -0.243188   2.11002   -0.293474
  0.115541  -0.791756   0.383593
  1.23965    0.295535   0.624417
 -1.64212   -0.309248  -0.00537324
 -0.85672   -1.05915    0.502534

## Working with DataFrames

In [184]:
using DataFrames

Needs to be completed